
$bg-color: #f5f5f5;

$color-primary: #0a66c2;
$color-primary-dark: #004182;
$color-primary-light-1: #70b5f9;
$color-primary-light-2: #2977c9;
$color-primary-dark-tint: rgba(112, 181, 249, .15);

$color-grey: rgba(0, 0, 0, .6);

$color-grey-dark: rgba(0, 0, 0, .9);
$color-grey-dark-1: #434649;
$color-grey-dark-2: rgba(0, 0, 0, .8);
$color-grey-dark-3: rgba(0, 0, 0, .08);

$color-grey-light-1: #eef3f8;

$color-white: #fff;
$color-black: #000;
$color-green: #7fc15e;
$color-blue: #70b5f9;
$color-orange: #e7a33e;
$color-red: #fc9295;
$color-danger: #cc1016;

$color-light-1: #dce6f1;
$color-light-2: #d6cec2;
$color-light-3: #e9e5df;
$color-light-4: rgba(207, 207, 207, .25);
