.container-header{
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-dark-3;
    padding: 0 24px;
    position: fixed;
    z-index: 100;
    width: 100vw;
    @media(max-width: 768px){
        padding: 8px 16px;
    }
}


.content-header{
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1100px;
}
.container-login{
    padding: 30px;
    @media(max-width: 800px){
        padding: 7px;
    }
}


.welcome{
    margin-top: 100px;
    max-width: 1200px;
    min-height: 620px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero{
    width: 100%;
    position: relative;
    @media(max-width: 768px){
        text-align: center;
    }
    h1{
        color: $color-primary-light-2;
        font-size: 40px;
        font-weight: 200;
        line-height: 70px;
        width: 55%;
        @media (max-width: 1000px){
            width: 50%;
           font-size: 30px;
        }
        @media (max-width: 768px){
            width: 100%;
            line-height: 1.4;
            font-size: 32px;
            text-align: center;
        
        }
       
        @media(min-width: 1300px){
            font-size: 54px; 
        }
    }
    img{
        position: absolute;
        top: 0;
        right: 50px;
        width: 600px;
        @media (max-width: 1200px){
            width: 500px;
        }
        @media (max-width: 1100px){
            width: 450px;
        }
        @media (max-width: 900px){
            width: 380px;
        }
        @media (max-width: 768px){
            position: relative;
            right: 0;
            width: 90%;
        }
    }
}

.container-home{
    padding-top: 70px;
    max-width: 1100px;
    margin: 0 auto;
}
.content-hiring{
    max-width: 1100px;
    margin: 0 auto;
    min-height: 50px;
    padding: 16px;
    text-align: center;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    @media(max-width: 768px){
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
    }
    h5{
        font-size: 14px;
        a{
            color: $color-primary;
            font-weight: 700;
        }
    }
    p{
        font-size: 14px;
        color: $color-grey-dark-1;
        font-weight: 600;
    }
}